@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: white;
    padding:0;
    margin: 0;
    }

#excuse{
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    justify-content: center;
    margin: 50px;
    
    }

div{
    display:none;
}